@import 'tailwindcss';

:root {
	--bg: #14110f; /* темно-коричневий */
	--secondary: #1c1815; /* трохи світліший */
	--gold: #c9a96e;
	--text: #f5f5f5;
	--gray: #a1a1aa;
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--font-inter);
}

h1,
h2,
h3 {
	font-family: var(--font-playfair);
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}

/* Chrome, Safari, Edge */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

@keyframes shimmer {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
